.button {
  width: 40%;
  margin: 10px auto 20px;
  display: block;
}

#main {
  max-width: 220px;
  min-width: 220px;
}

body {
  margin: 0;
  padding: 0;
  background-color: F9F9FB;
}

.title {
  font-size: 20px;
  text-align: center;
}

.slider {
  width: 80%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
}

.volumeIcon {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
}

hr {
  border: 0;
  border-top: 1px solid;
  margin: 0;
  padding: 0;
}
